<%= form_for(submition) do |f| %>
  <% if submition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submition.errors.count, "error") %> prohibited this submition from being saved:</h2>

      <ul>
      <% submition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
        <ul class="nav nav-pills">
          <%= f.label :Atividade %>
          <%= f.text_field :Atividade %>
        </ul>
      </div>

      <div class="field">
        <ul class="nav nav-pills">
          <li><%= f.label :Arquivo %></li>
          <li><%= f.file_field :Arquivo %></li>
        </ul>
      </div>

      <div class="actions">
        <ul class="nav nav-pills">
          <%= f.submit %>
        </ul>
     </div>
    </ul>
<% end %>
