<p id="notice"><%= notice %></p>

<h1>Submições</h1>

<table>
  <thead>
    <tr>
      <th>Link será </th>
      <th>Redirecinado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submitions.each do |submition| %>
      <tr>
        <td><%= submition.Atividade %></td>
        <td><%= submition.Arquivo %></td>
        <td><%= link_to 'Mostrar', submition %></td>
        <td><%= link_to 'Editar', edit_submition_path(submition) %></td>
        <td><%= link_to 'Deletar', submition, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Selecionar Arquivo', new_submition_path %>
