<p id="notice"><%= notice %></p>

<h1>Submitions</h1>

<table>
  <thead>
    <tr>
      <th>Atividade</th>
      <th>Arquivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submitions.each do |submition| %>
      <tr>
        <td><%= submition.Atividade %></td>
        <td><%= submition.Arquivo %></td>
        <td><%= link_to 'Show', submition %></td>
        <td><%= link_to 'Edit', edit_submition_path(submition) %></td>
        <td><%= link_to 'Destroy', submition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submition', new_submition_path %>
